<li id="menu-home" class="<%= menuActive == 'index' ? 'active' : '' %>"><%= link_to('Home', '#') %></li>
<li id="menu-about" class="<%= menuActive == 'about' ? 'active' : '' %>"><%= link_to('About', '#about') %></li>

